
/*.content-container{
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}*/
.dashboard-title{
    margin-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(9, 47, 119);
    /*padding: 40px 0 25px 0;*/
}


/*------------------ three btn ---------------------------*/
.three-btn{
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    margin-bottom: 30px;
}
.three-btn .sms-btn{
    grid-column: 22/23;
    grid-row: 1/2;
    font-size: 33px;
    color: #421c05;
    cursor: pointer;
}
.three-btn .sms-btn:hover{
    color: #af4909;
}
.three-btn .call-btn{
    grid-row: 1/2;
    grid-column: 21/22;
    font-size: 33px;
    cursor: pointer;
    color: #480B77;
}
.three-btn .call-btn:hover{
    color: darkviolet;
}
.three-btn .int-btn{
    grid-row: 1/2;
    grid-column: 20/21;
    font-size: 33px;
    cursor: pointer;
    color: #900C3F;
}
.three-btn .int-btn:hover{
    color: red;
}


/*-------------- call-modal ------------------------------*/

.call-modal{
    height: 40%;
    width: 30%;
    margin-top: 15%;
    margin-left: 35%;
    padding-top: 3%;
    padding-bottom: 2%;
    background: white;
}
.call-modal .modal-title{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #421c05;
    margin-bottom: 4%;
}
.call-modal .input-field{
    margin-left: 5%;
    margin-right: 5%;
}
.call-modal .btn-part{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 10%;
}
.call-modal .exit-btn{
    grid-column: 4/6;
    justify-self: center;
    background: #C70039;
}
.call-modal .exit-btn:hover{
    background: red;
}
.call-modal .call-btn{
    grid-column: 2/4;
    justify-self: center;
    background: #3C6DB4;
}
.call-modal .call-btn:hover{
    background: #3F91BE;
}


/*-------------- internet-modal ------------------------------*/

.internet-modal{
    height: 30%;
    width: 30%;
    margin-top: 15%;
    margin-left: 35%;
    padding-top: 3%;
    padding-bottom: 2%;
    background: white;
}
.internet-modal .modal-title{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #421c05;
    margin-bottom: 4%;
}
.internet-modal .btn-part{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 10%;
}
.internet-modal .exit-btn{
    grid-column: 4/6;
    justify-self: center;
    background: #C70039;
    cursor: pointer;
}
.internet-modal .exit-btn:hover{
    background: red;
}
.internet-modal .turn-btn{
    grid-column: 2/4;
    justify-self: center;
    background: #3C6DB4;
    cursor: pointer;
}
.internet-modal .turn-btn:hover{
    background: #3F91BE;
}

/*-------------- send-sms-modal ------------------------------*/

.send-sms-modal{
    height: 40%;
    width: 30%;
    margin-top: 15%;
    margin-left: 35%;
    padding-top: 3%;
    padding-bottom: 2%;
    background: white;
}
.send-sms-modal .modal-title{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #421c05;
    margin-bottom: 4%;
}
.send-sms-modal .input-field{
    margin-left: 5%;
    margin-right: 5%;
}
.send-sms-modal .btn-part{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 10%;
}
.send-sms-modal .exit-btn{
    grid-column: 4/6;
    justify-self: center;
    background: #C70039;
}
.send-sms-modal .exit-btn:hover{
    background: red;
}
.send-sms-modal .send-sms-btn{
    grid-column: 2/4;
    justify-self: center;
    background: #3C6DB4;
}
.send-sms-modal .send-sms-btn:hover{
    background: #3F91BE;
}



/*--------------------- user dashboard --------------------------*/

.user-dashboard{
    /*margin-bottom: 30px;*/
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-auto-rows: 220px;

    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



/*------------------------ user details part ---------------------------*/

.user-dashboard .user-details-part{
    grid-column: 2/13;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 6px;
}

.user-dashboard .user-details-part .account-icon{
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}
.user-dashboard .user-details-part .profile-pic{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user-dashboard .user-details-part .person-info{
    grid-column: 2/5;
    justify-self: start;
    padding-top: 70px;
    padding-left: 10%;
}

.user-dashboard .user-details-part .person-name{
    font-size: 1.3rem;
    font-weight: 500;
}
.user-dashboard .user-details-part .person-mob-num{
    font-size: 1.15rem;
    font-weight: 500;
    color: rgb(0, 132, 255);
}

.user-dashboard .user-details-part .right-side{
    grid-column: 5/6;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
}

.user-dashboard .user-details-part .points-info{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    padding-top: 70px;
}
.user-dashboard .user-details-part .points-header{
    font-size: 1.2rem;
    font-weight: 500;
    color: #E74343;
}
.user-dashboard .user-details-part .points{
    font-size: 1.1rem;
    font-weight: 500;
    color: darkviolet;
    text-align: center;
}
.user-dashboard .user-details-part .edit-info{
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 1.2rem;
    font-weight: 500;
    justify-self: center;
    text-decoration: underline;
    padding-top: 40px;
    color: #762121;
}
.user-dashboard .user-details-part .edit-info:hover{
    color: #214676
}



/*------------------------ pkg part ---------------------------*/
.user-dashboard .pkg-part{
    grid-column: 14/19;
}
.user-dashboard .pkg-part .card-content{
    padding: 0px;
    padding-bottom: 24px;
}
.user-dashboard .pkg-part .card-title{
    color: white;
    background: #546e7a;
    padding-left: 24px;
    padding-right: 10px;
    padding-top: 15px;
    height: 100px;
    font-size: 1.4rem;
    font-weight: 400;
}
.user-dashboard .pkg-part .card-subtitle{
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}
.user-dashboard .pkg-part .details{
    padding-top: 10px;
    padding-left: 24px;
}


/*------------------------ fnf part ---------------------------*/

.user-dashboard .fnf-part{
    grid-column: 20/25;
}
.user-dashboard .fnf-part .card{
    max-height: 230px;
}
.user-dashboard .fnf-part .card-content{
    padding: 0px;
    padding-bottom: 24px;
}
.user-dashboard .fnf-part .card-title{
    color: white;
    background: #6d9fce;
    padding-left: 24px;
    padding-right: 10px;
    padding-top: 15px;
    height: 100px;
    font-size: 1.4rem;
    font-weight: 400;
}
.user-dashboard .fnf-part .card-subtitle{
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}
.user-dashboard .fnf-part .details{
    padding-top: 10px;
    padding-left: 24px;
}
.user-dashboard .fnf-part .card-action{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.user-dashboard .fnf-part .add-fnf{
    grid-column: 1/4;
    font-size: 0.9rem;
    font-weight: 400;
    height: 30px;
    justify-self: center;
    border: 1px solid #02575B;
    background: #02575B;
    color: white;
    cursor: pointer;
}
.user-dashboard .fnf-part .add-fnf:hover{
    background: green;
}
.user-dashboard .fnf-part .show-fnf{
    grid-column: 4/7;
    font-size: 0.9rem;
    font-weight: 400;
    height: 30px;
    justify-self: center;
    border: 1px solid #480B77;
    background: #480B77;
    color: white;
    cursor: pointer;
}
.user-dashboard .fnf-part .show-fnf:hover{
    background: darkviolet;
}

/*-------------- show-fnf-modal ------------------------------*/

.show-fnf-modal{
    height: 50%;
    width: 40%;
    margin-top: 15%;
    margin-left: 35%;
    padding-top: 1.5%;
    padding-bottom: 2%;
    background: white;
}
.show-fnf-modal .modal-title{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #421c05;
    margin-bottom: 5%;
}
.show-fnf-modal .btn-part{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 3%;
}
.show-fnf-modal .exit-btn{
    grid-column: 3/5;
    justify-self: center;
    background: #C70039;
    margin-bottom: 7%;
}
.show-fnf-modal .exit-btn:hover{
    background: red;
}
.show-fnf-modal .fnf-list{
    padding-left: 5%;
    padding-right: 5%;
    height: 140px;
    overflow-y: scroll;
}
.show-fnf-modal .fnf-list::-webkit-scrollbar {
    display: none;
}
.show-fnf-modal .single-item{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 15px;
}
.show-fnf-modal .single-item .mob-num{
    grid-column: 1/2;
    color: #900C3F;
    font-size: 1.15rem;
    font-weight: 500;
}
.show-fnf-modal .single-item .name{
    grid-column: 2/5;
    color: #3F91BE;
    font-size: 1.15rem;
    font-weight: 500;
    padding-left: 5%;
}
.show-fnf-modal .single-item .delete-btn{
    grid-column: 5/7;
    background: #C70039 ;
    justify-self: end;
    display: none;
}
.show-fnf-modal .single-item .delete-btn:hover{
    background: #FF5733;
}
.show-fnf-modal .single-item:hover .delete-btn{
    display: block;
    cursor: pointer;
}
.show-fnf-modal .fnf-list .no-fnf{
    font-weight: 500;
    font-size: 1.1rem;
    color: #FF5733;
    text-align: center;
    /*padding-left: 10%;*/
}
.show-fnf-modal .fnf-num-reminder{
    font-weight: 500;
    font-size: 1.1rem;
    color: #675923;
    text-align: center;
}


/*-------------- add-fnf-modal ------------------------------*/

.add-fnf-modal{
    height: 40%;
    width: 30%;
    margin-top: 15%;
    margin-left: 35%;
    padding-top: 3%;
    padding-bottom: 2%;
    background: white;
}
.add-fnf-modal .modal-title{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #421c05;
    margin-bottom: 4%;
}
.add-fnf-modal .input-field{
    margin-left: 5%;
    margin-right: 5%;
}
.add-fnf-modal .btn-part{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 10%;
}
.add-fnf-modal .exit-btn{
    grid-column: 4/6;
    justify-self: center;
    background: #C70039;
}
.add-fnf-modal .exit-btn:hover{
    background: red;
}
.add-fnf-modal .add-btn{
    grid-column: 2/4;
    justify-self: center;
    background: #3C6DB4;
}
.add-fnf-modal .add-btn:hover{
    background: #3F91BE;
}


/*---------------------account-summary----------------------------------*/

.summary{
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-auto-rows: minmax(150px, auto);

    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}


/*------------------ balance part ---------------------*/

.summary .balance-part{
    grid-column: 1/11;
    grid-row: 1/4;
    justify-self: center;
}
.summary .balance-part .balance-title{
    margin-top: 50px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #70012b;
}
.summary .balance-part .card-content{
    padding: 40px;
}

.summary .balance-part .red-circle{
    background: white;
    border: 30px solid red;
    border-radius: 50%;
    height:300px;
    width:300px;
    text-align: center;
}
.summary .balance-part .balance-details{
    padding-top: 65px;
}
.summary .balance-part .header{
    font-size: 1.2rem;
    font-weight: 400;
}
.summary .balance-part .amount{
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 10px;
}
.summary .balance-part .remainder{
    font-size: 1.1rem;
    font-weight: 325;
}
.summary .balance-part .balance-actions{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.summary .balance-actions .recharge{
    grid-column: 1/2;
    font-size: 1.25rem;
    font-weight: 500;
    height: 40px;
    width: 130px;
    background: white;
    text-align: center;
    color: #E74343;
    border-radius: 5px;
    padding-top: 3px;
    border: 1px solid #E74343;
}
.summary .balance-actions .recharge:hover{
    background: red;
    color: white;
}
.summary .balance-actions .details{
    grid-column: 2/3;
    font-size: 1.25rem;
    font-weight: 500;
    height: 40px;
    width: 130px;
    background: red;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding-top: 3px;
}


/*---------------------- internet part -----------------------*/


.summary .internet-part{
    grid-column: 11/25;
    grid-row: 1/2;
    justify-self: center;
}
.summary .internet-part .card{
    height: 150px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}
.summary .internet-part .internet-title{
    margin-top: 50px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #710b76;
}
.summary .internet-part .card-content{
    grid-column: 1/15;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}
.summary .internet-part .internet-circle{
    grid-column: 2/4;
    justify-self: center;
    align-self: center;
    background: white;
    border: 8px solid #710b76;
    border-radius: 50%;
    height: 60%;
    width: 100%;
}
.summary .internet-part .internet-details{
    grid-column: 8/15;
    justify-self: start;
    align-self: center;
}
.summary .internet-part .header{
    font-size: 1.1rem;
    font-weight: 400;
}
.summary .internet-part .amount{
    font-size: 1.3rem;
    font-weight: 500;
}
.summary .internet-part .remainder{
    font-size: 1.1rem;
    font-weight: 300;
}



/*---------------------- talktime part -----------------------*/


.summary .talktime-part{
    grid-column: 11/25;
    grid-row: 2/3;
    justify-self: center;
}
.summary .talktime-part .card{
    height: 150px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}
.summary .talktime-part .talktime-title{
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #014b3e;
}
.summary .talktime-part .card-content{
    grid-column: 1/15;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}
.summary .talktime-part .talktime-circle{
    grid-column: 2/4;
    justify-self: center;
    align-self: center;
    background: white;
    border: 8px solid #014b3e;
    border-radius: 50%;
    height: 60%;
    width: 100%;
}
.summary .talktime-part .talktime-details{
    grid-column: 8/15;
    justify-self: start;
    align-self: center;
}
.summary .talktime-part .header{
    font-size: 1.1rem;
    font-weight: 400;
}
.summary .talktime-part .amount{
    font-size: 1.3rem;
    font-weight: 500;
}



/*---------------------- sms part -----------------------*/


.summary .sms-part{
    grid-column: 11/25;
    grid-row: 3/4;
    justify-self: center;
}
.summary .sms-part .card{
    height: 150px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}
.summary .sms-part .sms-title{
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #9A5014;
}
.summary .sms-part .card-content{
    grid-column: 1/15;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}
.summary .sms-part .sms-circle{
    grid-column: 2/4;
    justify-self: center;
    align-self: center;
    background: white;
    border: 8px solid #9A5014;
    border-radius: 50%;
    height: 60%;
    width: 100%;
}
.summary .sms-part .sms-details{
    grid-column: 8/15;
    justify-self: start;
    align-self: center;
}
.summary .sms-part .header{
    font-size: 1.1rem;
    font-weight: 400;
}
.summary .sms-part .amount{
    font-size: 1.3rem;
    font-weight: 500;
}