/*.Navbar{
    display: flex;*/

    /*flex-wrap: wrap;
    justify-content: space-between;*/

    /*flex: 0 1;
    padding-top: 50px;
    padding-left: 10%;
    padding-bottom: 25px;
    border-bottom: 5px solid red;*/
/*}

.Navbar ul li{
    font-family: 'Nunito', 'Tatsam Bengali Rnd', 'Helvetica Neue';
    margin-right: 2%;
    min-width: 150px;
    flex: 0 1 1%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 540;
    letter-spacing: 0.01071em;
    cursor: pointer;
}
.Navbar ul li:hover, .Navbar ul li:focus{
    color: red;
    transform: translateY(-0.25em);
}*/

.nav-wrapper{
    height: 50px;
    line-height: 50px;
}

.left .itemStyle{
    margin-right: 30px;
}
.right .itemStyle{
    margin-left: 30px;
}
.itemStyle{
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
}
.logo{
    position: absolute;
    z-index: 5;
}
.bottom-navbar{
    /*padding-top: 5px;*/
    padding-bottom: 60px;
    border-bottom: 5px solid red;
}
.itemStyle:hover{
    color: red;
}


/*------------------ cut-call-modal------------------------*/
.cut-call-modal{
    height: 40%;
    width: 30%;
    margin-top: 15%;
    margin-left: 35%;
    padding-top: 3%;
    padding-bottom: 2%;
    background: white;
}
.cut-call-modal .modal-title{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #421c05;
    margin-bottom: 4%;
}
.cut-call-modal .btn-part{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 10%;
}
.cut-call-modal .exit-btn{
    grid-column: 3/5;
    justify-self: center;
    background: #C70039;
    cursor: pointer;
}
.cut-call-modal .exit-btn:hover{
    background: red;
}

/*-------------- socket-call-modal ------------------------------*/

.socket-call-modal{
    height: 40%;
    width: 30%;
    margin-top: 15%;
    margin-left: 35%;
    padding-top: 3%;
    padding-bottom: 2%;
    background: white;
}
.socket-call-modal .modal-title{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #421c05;
    margin-bottom: 4%;
}
.socket-call-modal .btn-part{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 10%;
}
.socket-call-modal .exit-btn{
    grid-column: 4/6;
    justify-self: center;
    background: #C70039;
    cursor: pointer;
}
.socket-call-modal .exit-btn:hover{
    background: red;
}
.socket-call-modal .accept-btn{
    grid-column: 2/4;
    justify-self: center;
    background: #3C6DB4;
    cursor: pointer;
}
.socket-call-modal .accept-btn:hover{
    background: #3F91BE;
}