.signup{
    max-width: 400px;
    z-index: 5;
    margin: 0 auto;
    background: #fff;
    width: auto;
}
.signup .title{
    margin-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #E74343;
    /*color: rgb(9, 47, 119);*/
}